body {
            font-family: "Myriad pro", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
        }

        .success {
            color: #515254;
            font-size: 13px;
        }

        .error {
            color: #515254;
            font-size: 13px;
        }

        .main {
            background-color: #D7EBF3;
            color: #61AECF;
            padding: 10px;
            font-size: 14px;
        }